nav {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1600px;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    -webkit-box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.logo {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Nanum Brush Script', cursive;
    transform: scale(1);
    transition: transform 2s;
}
.logo:hover {
    color: salmon;
    transform: scale(1.2);
    transition: transform 0.6s;
}
.nav-link-container ul {
    display: flex;
    gap: 2rem;
}
.nav-link-container li {
    transform: scale(1);
    transition: transform 1s;
}
.nav-link-container li:hover {
    color: salmon;
    transform: scale(1.2);
    transition: transform 0.4s;
}

.nav-link-container {
    position: absolute;
    right: 10%;
}

.main-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 300px;
    -webkit-box-shadow: 3px 2px 5px 0px rgba(166, 166, 166, 1);
    -moz-box-shadow: 3px 2px 5px 0px rgba(166, 166, 166, 1);
    box-shadow: 3px 2px 5px 0px rgba(166, 166, 166, 1);
}
.main-front > * {
    width: 70%;
    line-height: 1.4;
    text-align: center;
}

.main-front-left {
    padding-left: 20px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: 3px 2px 5px 0px rgba(166, 166, 166, 1);
    -moz-box-shadow: 3px 2px 5px 0px rgba(166, 166, 166, 1);
    box-shadow: 3px 2px 5px 0px rgba(166, 166, 166, 1);
}

#main-front-left-div1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;
}
#main-front-left-p {
    width: 40%;
}
#sect2,
#sect3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sect2-people-div1 {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
}
#sect2-people-div1 > h1 {
    font-size: 2rem;
}
#people-cards-container {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    padding-bottom: 50px;
}
.card {
    width: 30%;
    min-width: 250px;
    -webkit-box-shadow: 3px 2px 10px 0px rgba(166, 166, 166, 1);
    -moz-box-shadow: 3px 2px 10px 0px rgba(166, 166, 166, 1);
    box-shadow: 3px 2px 10px 0px rgba(166, 166, 166, 1);
    border-radius: 12px;
}

.people-card-profile-photo {
    width: 100%;
    border-radius: 12px 12px 0 0;
    padding-bottom: 5px;
}

.people-card-div2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.people-card-intro-con {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 170px;
}
.people-card-intro-con h2 {
    padding-left: 5px;
}
.people-card-intro-con > p {
    padding-bottom: 10px;
    padding-left: 5px;
    line-height: 1.1;
}

.people-card-intro-input-con {
    display: flex;
    justify-content: center;
}

.people-card-intro-input-con > input {
    width: 60%;
    border: none;
    height: 30px;
    border-radius: 8px;
    -webkit-box-shadow: 3px 2px 10px 0px rgba(166, 166, 166, 1);
    -moz-box-shadow: 3px 2px 10px 0px rgba(166, 166, 166, 1);
    box-shadow: 3px 2px 10px 0px rgba(166, 166, 166, 1);
    cursor: pointer;
    background-color: #fff;
    letter-spacing: 1px;
    font-size: 0.9rem;
    color: #222;
    margin-bottom: 10px;
}
.people-card-intro-input-con > input:hover {
    -webkit-box-shadow: 1px 1px 10px 0px rgba(166, 166, 166, 1);
    -moz-box-shadow: 1px 1px 10px 0px rgba(166, 166, 166, 1);
    box-shadow: 1px 1px 10px 0px rgba(166, 166, 166, 1);
}
#sect3 {
    padding-top: 50px;
}
#message {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#message h1 {
    font-size: 2rem;
}

#message input {
    background-color: #fff;
    width: 150px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-size: 1rem;
    -webkit-box-shadow: 3px 2px 10px 0px rgba(166, 166, 166, 1);
    -moz-box-shadow: 3px 2px 10px 0px rgba(166, 166, 166, 1);
    box-shadow: 3px 2px 10px 0px rgba(166, 166, 166, 1);
    cursor: pointer;
}
#message input:hover {
    -webkit-box-shadow: 1px 1px 10px 0px rgba(166, 166, 166, 1);
    -moz-box-shadow: 1px 1px 10px 0px rgba(166, 166, 166, 1);
    box-shadow: 1px 1px 10px 0px rgba(166, 166, 166, 1);
}

#message-card-container {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    padding-bottom: 150px;
}

.message-card {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message-card-first-div,
.message-card-second-div {
    display: flex;
    padding: 15px;
}

.message-card-first-div {
    justify-content: flex-start;
    align-items: center;
}
.message-card-second-div {
    justify-content: flex-end;
}

.message-card > textarea {
    resize: none;
    border-radius: 3px;
    border: none;
    box-shadow: 0 0 2px 2px #99999999;
    margin: 0 auto;
    width: 83%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    -webkit-box-shadow: 0px -1px 10px 0px rgba(166, 166, 166, 1);
    -moz-box-shadow: 0px -1px 10px 0px rgba(166, 166, 166, 1);
    box-shadow: 0px -1px 10px 0px rgba(166, 166, 166, 1);
    padding: 0 30px;
}

#footer-div1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 8px;
}

#footer-div1 > h1 {
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Nanum Brush Script', cursive;
}

#footer-div1 p {
    font-size: 1.1rem;
    font-family: 'Nanum Brush Script';
    color: #222;
}
